{% extends "base.html" %}
{% block title %}Producto{% endblock %}
{% block header %}Producto{% endblock %}
{% block content %}
<form method="post" novalidate class="row g-3">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="col-md-4">
    <label class="form-label">SKU</label>
    {{ form.sku }} {{ form.sku.errors }}
  </div>
  <div class="col-md-8">
    <label class="form-label">Nombre</label>
    {{ form.nombre }} {{ form.nombre.errors }}
  </div>
  <div class="col-md-6">
    <label class="form-label">Categoría</label>
    {{ form.categoria }} {{ form.categoria.errors }}
  </div>
  <div class="col-md-3">
    <label class="form-label">Precio</label>
    {{ form.precio }} {{ form.precio.errors }}
  </div>
  <div class="col-md-2">
    <label class="form-label">Stock</label>
    {{ form.stock }} {{ form.stock.errors }}
  </div>
  <div class="col-md-1 d-flex align-items-center">
    <div class="form-check mt-4">
      {{ form.activo }} <label class="form-check-label">Activo</label>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'producto_list' %}">Volver</a>
  </div>
</form>
{% endblock %}